<title>All Plans</title>
<section class="all-plans">
    <h1 class="text-center m-3">All Plans</h1>
    <div class="container mt-4">
        <div class="row">
            {{#each plans}}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card" style="width: 100%; background-color: rgb(77, 77, 77);">
                    <img src="/plan-img/{{this.planImg}}" class="card-img-top" alt="{{this.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <ul>
                            {{#each this.items}}
                            <li class="card-text">{{this.name}}/{{this.quantity}}</li>
                            {{/each}}
                        </ul>
                        <a href="/store/sp/{{this._id}}/delete" class="btn btn-danger mt-1">Delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
