<title>STNAME</title>
<section class="spstore-section" style="background-image: url(/sp-store-bg-img/{{store.bgimg}});">
    <div class="container">
        <h1>{{store.name}}</h1>
        <p>{{store.discrimination}}</p>
        <a href="/store/sp/{{store._id}}/#store-plans" type="button" class="btn">Buy Now</a>
    </div>
</section>
<section id="server-info" class="border-bottom">
    <h1 class="text-center mt-3 mb-3">Server Info</h1>
    <div class="container">
        <div class="ip mb-5">
            <p>IP: {{store.serverip}}</p>
            <p>PORT: {{store.port}}</p>
        </div>
        <div class="online mb-5">
            <h4>
                {{#if online}}
                Online : {{playersOnline}} / {{maxPlayers}}
                {{else}}
                Ofline
                {{/if}}
            </h4>
        </div>
    </div>
</section>
<section id="store-plans">
    <div class="container">
        <h1 class="text-center m-3">Plans</h1>
        <div class="row">
            {{#each plans}}
            <div class="col-12 col-md-6 col-lg-4 rap">
                <div class="card" style="width: 18rem; background-color: rgb(77, 77, 77);">
                    <img src="/plan-img/{{this.planImg}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        {{#each this.items}}
                        <li class="card-text">{{this.name}}/{{this.quantity}}</li> 
                        {{/each}}
                        <a href="/store/sp/{{this._id}}/order" class="btn btn-primary mt-1">₹ {{this.price}}</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>